<h1>Dice Roll</h1>

<ul>
<li><a href="">Roll two 6-sided dice</a></li>
<li><a href="">Roll two 10-sided dice</a></li>
<li><a href="">Roll one 20-sided die</a></li>
<li><a href="">Roll five 4-sided dice</a></li>
</ul>
